@import url('https://fonts.cdnfonts.com/css/muller-narrow');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    font-family: Muller;
    overflow-x: hidden;

}
button{
    cursor: pointer;
    transition: .4s;
}
button:hover{
    background-color: #ffbe54;
transform: scale(1.02);
}

header{
width: 100vw;
    box-shadow: 0px 3px 14px 1px rgba(152,152,152,0.2);
}
.header-container{
    max-width:1200px;
    /* background-color: blue; */
    margin:0 auto !important;
    padding: 10px 0;
    display: flex; 
    /* justify-content: space-between; */
    align-items: center;
    gap:250px;
}
.logo{
    display: flex;
    align-items: center;
    gap:5px;
}
.logo p{
    font-family: 'Muller';
        font-size: 24px;
        line-height: 1.2;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        color: #ffc468;
        max-width: 90px;
}

nav ul{
    display: flex;
    gap: 50px;

}
nav ul li{
font-size: 16px;
line-height: 1.2;
font-weight: 500;
letter-spacing: 0.02em;
color: #a46b00;
list-style: none;
cursor: pointer;
}
main{
    margin-top: 100px;
}
.section-one{
    max-width: 1200px;
    margin: 0 auto;
    display: flex; 
    align-items: center;
    /* gap: 50px; */
}
.section-one__left{
    display: flex;
    flex-direction: column;
}

.section-one__title{
color: #b99150;
font-size: 45px;


}
.section-one__subtitle{
    color: #ffaf18;
    font-size: 45px;

    
}
.section-one__center{
    display: flex;
    flex-wrap: wrap;
    max-width: 670px;
    margin-top: 60px;
    gap:50px;
    justify-content: center;
    margin :60px auto;
}
.section-one__center .card{
    display: flex;
    gap: 15px;
    align-items: center;
}

.card__right-title{
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #ffaf18;

}

.card__right-subtitle{
    max-width: 220px;
    font-size: 16px;
line-height: 16px;
font-weight: 400;
letter-spacing: 0.02em;
color: #b99150;
}
.section-one__bottom{
    margin-top: 50px;
}
.section-one__bottom button{
    padding: 0px 50px;
    font-size: 16px;
line-height: 55px;
font-weight: 700;
color: #382400;
background-color: #ffaf18;
border: none;
}
.section-one__bottom button:hover{
background-color: #ffbe54;
transform: scale(1.02);
}

/* Section-Two */
.section-two{
    max-width: 1210px;
    margin: 0 auto;
    margin-top: 150px;
}
.section-two__title{
    text-align: center;
    font-size: 35px;
font-weight: 700;
color: #bd985c;
padding-bottom: 65px;
}
.section-two__container{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
text-align: center;
}
.section-two__card{
    width: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 14px 1px rgba(152,152,152,0.2);
    padding: 25px 30px;
    text-align: center;
    margin-top: 20px;
}
.section-two__card-title,
.section-two__card-subtitle{
   margin-top: 10px;

}
.section-two__card-title{
    color: #382400;
    font-size: 18px;
line-height: 55px;
font-weight: 700;
}
.section-two__card-subtitle{
color: #181a1a;
font-size: 14px;
line-height: 18px;
font-weight: 400;

}
.section-two__card-button{
    background-color: #ffaf18;
    width: 100%;

    font-size: 16px;
line-height: 55px;
font-weight: 800;
color: #020303;
border: none;
margin-top: 10px;
}

/* Section Three */
.section-three{
    max-width: 1320px;
    margin:0 auto;
    display: flex;
    align-items: center;
    margin-top: 200px;
    justify-content:flex-end;
    gap: 50px;
}
.section-three-top{
    display: flex;
    gap: 55px;
}
.section-three_left{
    max-width: 390px;
}
.section-three_left-title,
.section-three_left-subtitle{

font-size: 35px;
line-height: 45px;
font-weight: 800;
color: #ffaf18;
}
.section-three_left-subtitle{
    color: #b99150;
}
.section-three_left-text{
    font-size: 16px;
line-height: 24px;
font-weight: 400;
color: #b99150;
margin-top: 75px;
}
.section-three_right{
    display: flex;
    align-items: center;
    gap: 80px;
}
.section-three_inputs{
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-top: 40px;
}
.section-three_inputs input{
    font-family: Muller;
    font-size: 18px;
    line-height: 45px;
    font-weight: 400;
    border: 1px solid #b99150;
    outline: none;
    padding: 7px 10px;
    width: 330px;
}
.section-three_inputs input::placeholder{
    color: #cba86e;
}
.section-three_inputs button{
    width: 330px;
height: 60px;
background-color: #ffaf18;
border: none;
}


.overlay {
    position: fixed;
    z-index: 234;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}
.overlay-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
    border-radius: 20px;
}

.overlay img {
width: 300px;
}

.show-overlay {
    display: flex;
}
#popup{
    background-color: #ffaf18;
    padding: 20px 50px;
    position: fixed;
    top:100px;
    right: -300px;
    transition: 1s;
    opacity: 1;
}


/* Responsive */
@media screen and (max-width: 1250px){
    .header-container{
        max-width: 900px;
        gap: 200px;
    }
    nav ul{
        gap: 30px;
    }
    .section-one{
        flex-direction: column;
        gap: 50px;
    }
    .section-one__top{
        text-align: center;
    }
    .section-one__bottom{
        text-align: center;
    }
    .section-three{
        flex-direction: column;
    }
}

@media screen and (max-width:950px){
    .header-container{
        max-width: 700px;
        gap: 100px;
    }
    nav ul{
        gap: 30px;
    }
}

.menu-icon{
    display: none;
    }
.bar{
    width: 50px;
    height: 4px;
    background-color: #020303;
}

@media screen and (max-width: 850px) {
    .section-two__container{
        justify-content: center;
    }
.section-two__card {
    width: 400px;
}
}
@media screen and (max-width: 790px) {
    .section-three-top{
        flex-wrap: wrap;
        justify-content: center;

    }
    .section-three_left{
        text-align: center;
    }
    .section-three_left-text{
        margin-top: 30px;
    }
    .section-three_inputs{
        margin-top: 20px;
    }
    .section-three-image{
        width:400px;
    }
    .section-three-image img{
        width: 100%;
    }
}


@media screen and (max-width: 750px) {
    .header-container{
        justify-content: space-between;
        max-width: 550px;
    }
    
    .menu-icon {
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* width: 10px;
        height: 50px; */
    }

    .menu {

        flex-direction: column;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        left: -1000px;
        width: 300px;
        height: 100vh;
        z-index: 234;
        transition: 1s;

    }
    .menu li{
        color: white;

    }
    .menu.active {
        display: flex; /* Показать выпадающее меню при активации */
        background-color:#ffaf18;
        top: 0;
        left: 0;
        padding-left: 20px;
        padding-top: 20px;
    }
    .section-one__right{
        max-width: 400px;
    }
    .section-one__right img{
        width: 100%;
    }
    .section-three{
        margin-top: 120px;
    }
  
}
@media screen and (max-width: 700px) {
    .section-one__center{
        max-width: 550px;
    }
    .section-one__title,
    .section-one__subtitle{
        font-size:38px;
    }
}

@media screen and (max-width: 550px) {
    .section-one__title,
    .section-one__subtitle{
        font-size:30px;
    }
    .header-container{
        max-width: 85%;
    }
}


@media screen and (max-width: 450px) {
    .section-one__title,
    .section-one__subtitle{
        font-size:24px;
    }
    .section-three-top{
        flex-wrap: wrap;
        justify-content: center;

    }   
    .section-three_left-title,
    .section-three_left-subtitle{
       font-size: 28px;
    }
    .section-three_left-text{
       font-size: 14px;
    }
    .section-three_inputs{
       width: 300px;
    }
    
    .section-three_inputs input{
        width: 100%;
    }
    .section-three_inputs button{
        width: 100%;
    }
    .section-three-image{
        width:300px;
    }
    
}